
/* main */

.hero {
    background-color: var(--primary-bg-color);
}
.hero-title {
    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Button */

.button {
    color: var(--primary-text-color1);
    background-color: var(--secondary-text-color);
    border-color: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    margin: 0 auto;
}

.button:hover {
    cursor: pointer;

    color: var(--primary-white-color);
    background-color: var(--primary-site-color);
}

/* section */

.section {
    margin: 94px 215px;
}
.section-title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* features */

.features .title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
}

/* our team */

.section-team {
    background-color: var(--secondary-bg-color);
    height: 400px;
    padding:94px 215px;
}

.section-team .list {
    display: flex;
    margin: 0;
}

.names {
    color: var(--primary-text-color);
    font-size: 500; 
    font-size: 16px;
    line-height: 1.19;
    text-align: center; 
}
.profession {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.section-team li {
    background-color: var(--primary-white-color);
}